body{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.post {
    width: 500px;
    background-color: white;
}
header {
    display: flex;
    justify-content: center;
    margin: 10px;

}
img {
    width: 500px;
}
.logo, .dots{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots{
    justify-content: end;
}
.titles{
    width: 80%;
}
h1 , p{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style:normal;
}
h1 {
    font-size: 12pt;
}
p {
    font-size: 10pt;
}
.fa-xl {
    margin: 0;
    padding: 0;
    line-height: 0;
}
.text-post{
    margin:10px
}
.text-post p {
    margin: 10px 0px;
}
.icons{
    display: flex;
    margin: 10px 0px;
}
.icons-left{
    width: 95%;
}
.icons-left i{

    margin: 5px 2px 5px 10px;
}
.icons-right{
    width: 5%;
}